In [9]:
import pandas as pd
import numpy as np


data = np.random.rand(4, 4)

df = pd.DataFrame(data, columns=['Feature1', 'Feature2', 'Feature3', 'Feature4'])

print(df)

   Feature1  Feature2  Feature3  Feature4
0  0.960451  0.134476  0.301011  0.223708
1  0.493235  0.960353  0.841586  0.839890
2  0.535185  0.765246  0.832231  0.299484
3  0.781071  0.974792  0.437253  0.752435

In [10]:
new_column_names = {
    'Feature1': 'Random value 1',
    'Feature2': 'Random value 2',
    'Feature3': 'Random value 3',
    'Feature4': 'Random value 4'
}

df.rename(columns=new_column_names, inplace=True)

print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.960451        0.134476        0.301011        0.223708
1        0.493235        0.960353        0.841586        0.839890
2        0.535185        0.765246        0.832231        0.299484
3        0.781071        0.974792        0.437253        0.752435

In [11]:
statistics = df.describe()

print(statistics)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.692485        0.708717        0.603020        0.528879
std          0.219163        0.394574        0.275765        0.312227
min          0.493235        0.134476        0.301011        0.223708
25%          0.524697        0.607554        0.403192        0.280540
50%          0.658128        0.862800        0.634742        0.525960
75%          0.825916        0.963963        0.834570        0.774299
max          0.960451        0.974792        0.841586        0.839890

In [12]:
null_values = df.isnull()

data_types = df.dtypes

print("Null values:")
print(null_values)
print("\nData types:")
print(data_types)

Null values:
   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

Data types:
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [14]:
print("Using .loc[]:")
print(df.loc[:, ['Random value 2', 'Random value 3']])

print("\nUsing .iloc[]:")
print(df.iloc[:, [1, 2]])

Using .loc[]:
   Random value 2  Random value 3
0        0.134476        0.301011
1        0.960353        0.841586
2        0.765246        0.832231
3        0.974792        0.437253

Using .iloc[]:
   Random value 2  Random value 3
0        0.134476        0.301011
1        0.960353        0.841586
2        0.765246        0.832231
3        0.974792        0.437253